<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row">
        <app-sidebar></app-sidebar>
        <div class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="container-fluid">
              <h2 class="mt-5 pt-5">Restaurantes</h2>
                <h5>Listado de los restaurantes afiliados con 504 Delivery</h5>
                <table class="table table-bordered mt-4">
                    <thead>
                      <tr class="text-center">
                        <th scope="col">Restaurante</th>
                        <th scope="col">Productos</th>
                        <th scope="col">Impuesto</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr (click)="verMenuRestaurante(restauranteMenu, restaurante._id)" *ngFor="let restaurante of restaurantes">
                        <td>{{restaurante.nombreRestaurante}}</td>
                        <td>{{restaurante.menu.length}}</td>
                        <td>{{restaurante.impuesto}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
                
          </div>
    </div>
</div>

<ng-template #restauranteMenu let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Menu del Restaurante</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table table-bordered" id="table-productos">
          <thead>
            <tr class="text-center">
                <th scope="col-2">ID</th>
                <th scope="col-2">Producto</th>
                <th scope="col-4">Descripción</th>
                <th scope="col-2">Precio</th>
              </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let producto of menu">
                <th scope="row">{{producto._id}}</th>
                <td style="width: 140px;">{{producto.nombreProducto}}</td>
                <td class="td-descripcion-producto">{{producto.descripcion}}</td>
                <td style="width: 100px;">L. {{producto.precio}}.00</td>
              </tr>
          </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="agregarProducto(nuevoProducto)">Agregar Nuevo Producto</button>
    </div>
  </ng-template>

  <ng-template #nuevoProducto let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Nuevo Producto</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formularioNuevoProducto">
        <label for="">Nombre del Producto:</label>
        <input type="text" formControlName="nombreProducto" name="nombre" class="form-control">
        <label for="">Descripcion:</label>
        <input type="text" formControlName="descripcion" class="form-control" name="" id="">
        <label for="">Precio</label>
        <input type="number" formControlName="precio" class="form-control">
        <label for="">Imagen:</label>
        <input type="file" class="form-control-file" (input)="verImagenProducto($event)" name="" id="">
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="guardarNuevoProducto()">Agregar Nuevo Producto</button>
    </div>
  </ng-template>

