<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row">
        <app-sidebar></app-sidebar>
        <div class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="container-fluid">
              <h2 class="mt-5 pt-5">Restaurantes</h2>
                <h5>Listado de los restaurantes afiliados con 504 Delivery</h5>
                <table class="table table-bordered mt-4">
                    <thead>
                      <tr class="text-center">
                        <th scope="col">ID</th>
                        <th scope="col">Restaurante</th>
                        <th scope="col">Productos</th>
                        <th scope="col">Direccion Principal</th>
                        <th scope="col">Teléfono</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr (click)="verMenuRestaurante(restaurante)">
                        <th scope="row">0001</th>
                        <td>Little Caesar's</td>
                        <td>15</td>
                        <td>Colonia Alameda</td>
                        <td>2222-2222</td>
                      </tr>
                      <tr>
                        <th scope="row">0001</th>
                        <td>Little Caesar's</td>
                        <td>15</td>
                        <td>Colonia Alameda</td>
                        <td>2222-2222</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
                
          </div>
    </div>
</div>

<ng-template #restaurante let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Menu del Restaurante</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table class="table table-bordered">
          <thead>
            <tr class="text-center">
                <th scope="col">ID</th>
                <th scope="col">Producto</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
              </tr>
          </thead>
          <tbody class="text-center">
            <tr>
                <th scope="row">0001</th>
                <td>Pizza Pepperoni</td>
                <td class="td-descripcion-producto">Hamburguesa iconica de la casa con Papas Medianas y Coca Cola Portatil
                </td>
                <td>L. 120.00</td>
                <td style="width: 120px;"><button class="btn btn-link edit"><fa-icon [icon]="faPen"></fa-icon></button><button class="btn btn-link erase"><fa-icon [icon]="faTrash"></fa-icon></button></td>
              </tr>
          </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="modal.close('Save click')">Agregar Nuevo Producto</button>
    </div>
  </ng-template>

