<img class="wave" src="../../../assets/images/logos/wave.png">
	<div class="container">
		<div class="img">
			<img src="../../../assets/images/logos/Work time-amico.svg">
		</div>
		<div class="login-content">
			<form action="ajax/login.php" method="POST">
				<img src="../../../assets/images/logos/Logo-Oficial.png" class="my-4">
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Usuario</h5>
           		   		<input type="text" class="input" id="txt-correo">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Contraseña</h5>
           		    	<input type="password" class="input" id="txt-password">
            	   </div>
            	</div>
            	<input type="button" class="btn" value="Iniciar Sesion" id="btn-login">
            </form>
        </div>
    </div>