
      <nav class="col-md-2 d-md-block d-none sidebar" style="background-color: #5A6FE9; min-height: 95vh;">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
              <h4>Motoristas</h4>
            </h5>
            <li class="nav-item"><a routerLink="/motoristas" class="nav-link">Lista de Motoristas</a></li>
            <li class="nav-item"><a routerLink="/solicitudes-motoristas" class="nav-link">Solicitudes</a></li>
          </ul>
    
          <ul class="nav flex-column">
            <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
              <h4>Restaurantes</h4>
            </h5>
            <li class="nav-item"><a routerLink="/restaurantes" class="nav-link">Lista de Restaurantes</a></li>
            <li class="nav-item"><a routerLink="/nuevo-restaurante" class="nav-link">Agregar nuevo Restaurante</a></li>
          </ul>
    
          <ul class="nav flex-column">
            <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
              <h4>Pedidos</h4>
            </h5>
            <li class="nav-item"><a routerLink="/pedidos/entregados" class="nav-link">Pedidos Entregados</a></li>
            <li class="nav-item"><a routerLink="/pedidos/cancelados" class="nav-link">Pedidos Cancelados</a></li>
          </ul>
    
        </div>
      </nav>