
  <app-navbar></app-navbar>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 sidebar" style="background-color: #5A6FE9; min-height: 95vh;">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
              <h4>Motoristas</h4>
            </h5>
            <li class="nav-item"><a routerLink="/motoristas" class="nav-link">Lista de Motoristas</a></li>
            <li class="nav-item"><a routerLink="/solicitudes-motoristas" class="nav-link">Solicitudes</a></li>
          </ul>
  
          <ul class="nav flex-column">
            <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
              <h4>Restaurantes</h4>
            </h5>
            <li class="nav-item"><a routerLink="/restaurantes" class="nav-link">Lista de Restaurantes</a></li>
            <li class="nav-item"><a routerLink="/nuevo-restaurante" class="nav-link">Agregar nuevo Restaurante</a></li>
          </ul>

          <ul class="nav flex-column">
            <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
              <h4>Pedidos</h4>
            </h5>
            <li class="nav-item"><a routerLink="/pedidos/entregados" class="nav-link">Pedidos Entregados</a></li>
            <li class="nav-item"><a routerLink="/pedidos/cancelados" class="nav-link">Pedidos Cancelados</a></li>
          </ul>

        </div>
      </nav>
      <div class="col-md-10">
        <div class="container-fluid">
          <h2 class="mt-3">¡Bienvenido Administrador!</h2>
            <h5>Esta es la lista de pedidos que se ha realizado durante la ultima hora</h5>
            <table class="table table-bordered mt-4">
                <thead>
                  <tr>
                    <th scope="col">No. Pedido</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Motorista</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Restaurante</th>
                    <th scope="col">Hora del Pedido</th>
                    <th scope="col">Hora de Entrega</th>
                    <th scope="col">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">0001</th>
                    <td>Rafael Bautista</td>
                    <td>Rafael Bautista</td>
                    <td>L. 300.00</td>
                    <td>Pizza Hut</td>
                    <td>12:00</td>
                    <td>12:45</td>
                    <td>Entregado</td>
                  </tr>
                  <tr>
                    <th scope="row">0002</th>
                    <td>Yuvini Flores</td>
                    <td>Rafael Bautista</td>
                    <td>L. 120.00</td>
                    <td>KFC</td>
                    <td>11:40</td>
                    <td>--:--</td>
                    <td>Cancelado</td>
                  </tr>
                  <tr>
                    <th scope="row">0003</th>
                    <td>Rafael Bautista</td>
                    <td>Yuvini Flores</td>
                    <td>L. 250.00</td>
                    <td>Burger King</td>
                    <td>12:30</td>
                    <td>--:--</td>
                    <td>En Camino</td>
                  </tr>
                </tbody>
              </table>
        </div>
            
      </div>
    </div>
  </div>