
  <app-navbar></app-navbar>
  <div class="container-fluid">
    <div class="row">
      <app-sidebar></app-sidebar>
      <div class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="container-fluid">
          <h2 class="mt-5 pt-5">¡Bienvenido Administrador!</h2>
            <h5>Esta es la lista de pedidos que se ha realizado durante la ultima hora</h5>
            <table class="table table-bordered mt-4">
                <thead>
                  <tr>
                    <th scope="col">No. Pedido</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Motorista</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Restaurante</th>
                    <th scope="col">Hora del Pedido</th>
                    <th scope="col">Hora de Entrega</th>
                    <th scope="col">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">0001</th>
                    <td>Rafael Bautista</td>
                    <td>Rafael Bautista</td>
                    <td>L. 300.00</td>
                    <td>Pizza Hut</td>
                    <td>12:00</td>
                    <td>12:45</td>
                    <td>Entregado</td>
                  </tr>
                  <tr>
                    <th scope="row">0002</th>
                    <td>Yuvini Flores</td>
                    <td>Rafael Bautista</td>
                    <td>L. 120.00</td>
                    <td>KFC</td>
                    <td>11:40</td>
                    <td>--:--</td>
                    <td>Cancelado</td>
                  </tr>
                  <tr>
                    <th scope="row">0003</th>
                    <td>Rafael Bautista</td>
                    <td>Yuvini Flores</td>
                    <td>L. 250.00</td>
                    <td>Burger King</td>
                    <td>12:30</td>
                    <td>--:--</td>
                    <td>En Camino</td>
                  </tr>
                </tbody>
              </table>
        </div>
            
      </div>
    </div>
  </div>